In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df =pd.read_csv("CBS_2021-2023_Hourly_Weather.csv", sep =',')

df.head()

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (°C),weathercode (wmo code),windspeed_10m (km/h)
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9

In [10]:
df.dtypes

Casual                     float64
Date                        object
Hour                         int64
Member                     float64
Total_rides                float64
relativehumidity_2m (%)      int64
temperature_2m (°C)        float64
weathercode (wmo code)       int64
windspeed_10m (km/h)       float64
dtype: object

In [11]:
# Check info and dtypes of the dataframe
print("Info of the DataFrame:\n", '\n')
df.info()

Info of the DataFrame:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Casual                   26269 non-null  float64
 1   Date                     26280 non-null  object
 2   Hour                     26280 non-null  int64
 3   Member                   26269 non-null  float64
 4   Total_rides              26269 non-null  float64
 5   relativehumidity_2m (%)  26280 non-null  int64
 6   temperature_2m (°C)      26280 non-null  float64
 7   weathercode (wmo code)   26280 non-null  int64
 8   windspeed_10m (km/h)     26280 non-null  float64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.8+ MB

maze letter panther town captain math accuse food craft promote return equip

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Casual,26269.0,159.930070,167.330426,0.0,28.00,105.0,237.00,1206.0
Hour,26280.0,11.500000,6.922318,0.0,5.75,11.5,17.25,23.0
Member,26269.0,247.165632,225.283539,0.0,55.00,203.0,371.00,1534.0
Total_rides,26269.0,407.095702,373.005409,1.0,85.00,319.0,616.00,2262.0
relativehumidity_2m (%),26280.0,62.967884,22.724320,5.0,46.00,64.0,82.00,100.0
temperature_2m (°C),26280.0,14.412782,10.285751,-14.6,6.10,14.8,22.70,41.5
weathercode (wmo code),26280.0,7.228311,17.630961,0.0,0.00,1.0,2.00,75.0
windspeed_10m (km/h),26280.0,10.171298,5.261033,0.0,6.50,9.2,12.90,40.1

In [6]:
# Checking for NULLs in the data
df.isnull().sum()

Casual                     11
Date                        0
Hour                        0
Member                     11
Total_rides                11
relativehumidity_2m (%)     0
temperature_2m (°C)         0
weathercode (wmo code)      0
windspeed_10m (km/h)        0
dtype: int64

In [7]:
#Check for duplicates
df.duplicated().sum()

np.int64(0)

In [8]:
string_col = df.select_dtypes(include="object").columns

In [9]:
df[string_col].head()

         Date
0  2021-01-01
1  2021-01-01
2  2021-01-01
3  2021-01-01
4  2021-01-01