In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df =pd.read_csv("CBS_2021-2023_Full.csv", sep =',')

df.head()

C:\Users\Tiba\AppData\Local\Temp\ipykernel_16440\2513428885.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("CBS_2021-2023_Full.csv", sep =',')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

In [3]:
dropped_bikes_filtered = df[
    df['end_station_name'].isna() & 
    df['end_lat'].notna() & 
    df['end_lng'].notna()]
dropped_bikes_filtered.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.96,-77.02,casual
7,78894BDABD9F21DD,electric_bike,2021-01-01 00:20:40,2021-01-01 00:35:36,Columbia Rd & Georgia Ave NW,31115.0,NaN,NaN,38.928081,-77.023768,38.90,-77.02,casual
17,3F8AFD9540FF8EDB,electric_bike,2021-01-01 00:26:41,2021-01-01 00:30:09,14th & Harvard St NW,31105.0,NaN,NaN,38.926715,-77.032145,38.93,-77.04,member
20,997E8E08C493F034,electric_bike,2021-01-01 00:27:18,2021-01-01 00:34:30,NaN,NaN,NaN,NaN,38.990000,-77.030000,38.99,-77.03,member
21,F1F87FA560990FC7,electric_bike,2021-01-01 00:28:39,2021-01-01 00:41:31,Connecticut Ave & Newark St NW / Cleveland Park,31305.0,NaN,NaN,38.934253,-77.058010,38.92,-77.07,member

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Laden der 5-Minuten-Daten und Filtern der relevanten Spalten
df_bike = pd.read_csv("CBS_2021-2023_Full.csv", sep =',')
df_bike = df_bike[['started_at', 'start_station_name', 'end_station_name', 'start_station_id', 'end_station_id']]

# Konvertieren der Zeitspalte in ein Datetime-Objekt
df_bike['started_at'] = pd.to_datetime(df_bike['started_at'])

# Setzen der Zeitspalte als Index
df_bike.set_index('started_at', inplace=True)

# Aggregieren der Daten auf tägliche Basis und Zählen der Benutzungen jeder Station
df_bike_daily = df_bike.resample('D').apply(lambda x: x.value_counts()).reset_index()

# Umbenennen der Spalten für Klarheit
df_bike_daily.columns = ['date', 'station_name', 'station_id', 'count_name', 'count_id']

# Berechnen der Summe der Benutzungen jeder Station pro Tag
df_bike_daily_sum = df_bike_daily.groupby(['date', 'station_name', 'station_id', 'count_id']).sum().reset_index()

# Speichern des aggregierten DataFrames in einer neuen CSV-Datei
df_bike_daily_sum.to_csv("CBS_2021-2023_Station_Usage_Daily.csv", index=False)

# Anzeigen der ersten Zeilen des aggregierten DataFrames
df_bike_daily_sum.head()

C:\Users\Tiba\AppData\Local\Temp\ipykernel_3808\4154272882.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bike = pd.read_csv("CBS_2021-2023_Full.csv", sep =',')

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
# Check info and dtypes of the dataframe
print("Info of the DataFrame:\n", '\n')
df.info()

Info of the DataFrame:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1.0+ GB

In [ ]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
start_lat,10693995.0,38.903306,0.026842,38.76,38.890539,38.902760,38.914751,39.14
start_lng,10693995.0,-77.031872,0.033462,-77.40,-77.044609,-77.031617,-77.013667,-76.82
end_lat,10677232.0,38.902256,0.050493,0.00,38.890496,38.902314,38.912648,39.19
end_lng,10677232.0,-77.031463,0.091278,-77.56,-77.044661,-77.031500,-77.012808,0.00

In [ ]:
# Checking for NULLs in the data
df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    742776
start_station_id      742776
end_station_name      811282
end_station_id        811282
start_lat                  2
start_lng                  2
end_lat                16765
end_lng                16765
member_casual              0
dtype: int64

In [ ]:
#Check for duplicates
df.duplicated().sum()

np.int64(0)

In [ ]:
string_col = df.select_dtypes(include="object").columns

In [ ]:
df[string_col].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,member

In [11]:
# Check unique values before conversion
unique_values_before = df.nunique()
print("Unique values before conversion:\n", unique_values_before, '\n')

Unique values before conversion:
 ride_id               10693997
rideable_type                3
started_at             9649173
ended_at               9638365
start_station_name         860
start_station_id          1891
end_station_name           865
end_station_id            1904
start_lat               570110
start_lng               617671
end_lat                 173835
end_lng                 183886
member_casual                2
dtype: int64

In [12]:
# Check Memory usage before converting
memory_usage = df.memory_usage(deep=True)
print("Memory Usage before Converting dtypes:\n", memory_usage, '\n')

Memory Usage before Converting dtypes:
 Index                       132
ride_id               695109805
rideable_type         654238494
started_at            727191796
ended_at              727191796
start_station_name    740478725
start_station_id      343549594
end_station_name      736905216
end_station_id        343530364
start_lat              85551976
start_lng              85551976
end_lat                85551976
end_lng                85551976
member_casual         588169835
dtype: int64

In [13]:
# Copy the dataframe
df2 = df.copy()

# Convert categorical columns to category type for memory efficiency
df2["rideable_type"] = df2["rideable_type"].astype("category")
df2["start_station_name"] = df2["start_station_name"].astype("category")
df2["end_station_name"] = df2["end_station_name"].astype("category")
df2["member_casual"] = df2["member_casual"].astype("category")

# Convert started_at and ended_at to datetime for memory efficiency
df2['started_at'] = pd.to_datetime(df2['started_at'])
df2['ended_at'] = pd.to_datetime(df2['ended_at'])

# Regenerate the entire ride_id column with sequential integers and convert it
# to a memory-efficient data type (uint32)
df2['ride_id'] = pd.Series(range(1, len(df2) + 1), dtype='uint32')

In [14]:
# Check info and dtypes after conversion
info_after = df2.info()
print("Info of the DataFrame after conversion:\n", info_after, '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             uint32
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  category
 5   start_station_id    object
 6   end_station_name    category
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       category
dtypes: category(4), datetime64[ns](2), float64(4), object(2), uint32(1)
memory usage: 754.8+ MB
Info of the DataFrame after conversion:
 None

In [15]:
# Check unique values after conversion
unique_values_after = df2.nunique()
print("Unique values after conversion:\n", unique_values_after, '\n')

Unique values after conversion:
 ride_id               10693997
rideable_type                3
started_at             9649173
ended_at               9638365
start_station_name         860
start_station_id          1891
end_station_name           865
end_station_id            1904
start_lat               570110
start_lng               617671
end_lat                 173835
end_lng                 183886
member_casual                2
dtype: int64

In [16]:
# Check memory usage after all conversions
print("Memory Usage after Converting dtype:\n", df2.memory_usage(deep=True), '\n')

Memory Usage after Converting dtype:
 Index                       132
ride_id                42775988
rideable_type          10694288
started_at             85551976
ended_at               85551976
start_station_name     21485201
start_station_id      343549594
end_station_name       21485559
end_station_id        343530364
start_lat              85551976
start_lng              85551976
end_lat                85551976
end_lng                85551976
member_casual          10694215
dtype: int64

In [17]:
# Calculate how much we reduced the in-memory footprint of the dataset
reduction = df2.memory_usage(deep=True).sum() / df.memory_usage(deep=True).sum()
print(f"We reduced the in-memory footprint of the dataset to {reduction:.2f} of its original size.")

We reduced the in-memory footprint of the dataset to 0.22 of its original size.

In [18]:
#Speichern neue Datei mit niedrigem Storage
output_file ="CBS_2021-2023_Full_minimize_storage.csv"
df2.to_csv(output_file, index=False)  # Neue CSV speichern

In [ ]:
import pandas as pd

# Datei einlesen (nur die ersten 2000 Zeilen)
input_file = "CBS_2021-2023_Full.csv"  # Ersetze mit dem echten Dateinamen
output_file = "CBS_2021-2023_Full_2000_rows.csv"

df = pd.read_csv(input_file, nrows=2000)  # Nur die ersten 2000 Zeilen lesen
df.to_csv(output_file, index=False)  # Neue CSV speichern

print(f"Die Datei '{output_file}' wurde erfolgreich gespeichert!")

Die Datei 'CBS_2021-2023_Full_2000_rows.csv' wurde erfolgreich gespeichert!

In [1]:
import pandas as pd

# Datei einlesen (nur die ersten 20 Zeilen)
input_file = "CBS_2021-2023_Full.csv"  # Ersetze mit dem echten Dateinamen
output_file = "CBS_2021-2023_Full_20_rows.csv"

df = pd.read_csv(input_file, nrows=20)  # Nur die ersten 2000 Zeilen lesen
df.to_csv(output_file, index=False)  # Neue CSV speichern

print(f"Die Datei '{output_file}' wurde erfolgreich gespeichert!")

Die Datei 'CBS_2021-2023_Full_20_rows.csv' wurde erfolgreich gespeichert!

maze letter panther town captain math accuse food craft promote return equip